{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
{% if app.user.isVerified is defined and  app.user.isVerified == 1 %}

<div class="container bg-light pt-5">
        <h1 class="text-center">Tableau de Bord</h1>
    <div class="row mt-5 ">
        <div class="col-md-4"><h4 class=""> Liste des dons</h4></div>
        <div class="col-md-8"><a href="" class="ps-5 text-decoration-none text-dark">Nbre de dons : {{ nb_gift | length }} </a>  <a href="" class="ps-5 text-decoration-none text-dark">Dons disponibles : {{ all_gift | length }}  </a>          <a href="{{path('app_hotel_reserved_gift')}}" class=" btn button_1 ms-5 text-decoration-none">Voir dons reservés</a>   </div>
    </div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            
            {% if all_gift is not empty %}
               

                    <table class="table">
                        <thead class="table-primary">
                            <tr>
                            <th scope="col">Voir</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date de recuperation</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for gift in all_gift %}
                            <tr class="table-succes">
                            <th scope="row"><a href="{{path('app_gift_show',{id:gift.id})}}"><i class="fa-solid fa-eye"></i></a></th>
                            <td class="table-light"><b><small class="text-muted">{{gift.kindOfDonation}}<small class="text-muted"></b></td>
                            <td class="table-warning"> <i><small class="text-muted"> {{gift.description}}</small></i></td>
                            <td class="table-warning"><i><small class="text-muted">{{ gift.recoveryDate | date('d-m-Y')}} {% if gift.time is defined %} à {{gift.time | date('H:i:s') }}{% endif %}</small></i></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>  
            {% else %}

                <p class="text-center"> L' historique des dons est vide</p>
            {% endif %}
        </div>
</div>
</div>
{% else %}
<h2 class="text-center pe-2 pt-2 pb-2 ps-2"> Activer votre compte</h2>
{% endif %}
{% endblock %}
