{% extends 'base.html.twig' %}

{% block title %}Tableau de bord {% endblock %}

{% block body %}

{% if app.user.isVerified is defined and  app.user.isVerified == 1 %}

<div class="container">
    {# <div class="row">
        <div class="col-6 mx-auto"> #}
            <div class="card text-center mt-5">
                    <div class="card-header">
                    Don
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{gift.kindOfDonation}}</h5>
                        <p class="card-text">{{ gift.description}}</p>
                        {% if gift.reserve != true %}
                        <a href="{{path('app_gift_delete',{id:gift.id})}}" class="btn button_1">Supprimer</a>
                        <a href="{{path('app_gift_edit',{id:gift.id})}}" class="btn button_1">Modifier</a>
                        {% else %}
                        <p class="bg-danger pe-5 ps-5 pt-5 pb-5">Ce don a été déjà réservé</p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-muted">
                        A recuperer le {{gift.recoveryDate | date('d-m-Y')}}{% if gift.time is defined %} à {{gift.time | date('H:i:s') }}{% endif %}
                    </div>
            </div>   
        {# </div>        
    </div> #}

    {# <div class="row">
        <div class="col-6 mx-auto"> #}
            <div class="card mt-5 mb-5" style="width: 18rem;">
                <div class="card-header ">
                   Information supplementaire
                </div>
                {% if gift.benevole.id is defined %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Nom : {{ gift.benevole.name}} {{ gift.benevole.firstname}}</li>
                    <li class="list-group-item">Tel : {{gift.benevole.numberPhone}}</li>
                </ul>
                {% else %}
                    <p class="text-center">Aucun</p>
                {% endif %}
            </div>
        {# </div>
    </div> #}

</div>
{% else %}
<h2 class="text-center pe-2 pt-2 pb-2 ps-2 bg-warning"> Activer votre compte </h2>
{% endif %}
{% endblock %}
