{% extends 'base.html.twig' %}

{% block title %}Modifier votre compte{% endblock %}

{% block body %}
<div class="">
<h1 class="text-center"> <b>Modifier votre compte</b></h1>
<div class="container pt-5 pb-5 ps-5 pe-5 mt-5 mb-5  bg-light ">
        
    {{ form_start(form)}}
        <div class="row mb-4">
            <div class="col">
               
                    {{form_row(form.name)}}
               
            </div>

            <div class="col">  
                  
                    {{form_row(form.email)}}
              
            </div>
        </div>  

    {# ................   ...... #}

        <div class="row mb-4">
            <div class="col">
                
                    {{form_row(form.address)}}
               
            </div>

            <div class="col">  
               
                    {{form_row(form.contactPhone)}}
              
            </div>
        </div>  

    {# .......... ............ #}
        <div class="row mb-4">
            <div class="col">
               
                    {{form_row(form.managerName)}}
            
            </div>

            <div class="col">  
                
                    {{form_row(form.managerFirstName)}}
              
            </div>
        </div>    
           {# ........................ ................ #}

       <div class="row mb-4">
           <div class="col-6"> 
              
                    {{form_row(form.managerPhone)}}
              
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn button_2 col-4 mx-auto" > Valider </button>
        </div>
    {{form_end(form)}}
           
               
           
</div>
</div>
{% endblock %}
