{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}


<div class="container">
    <div class="row mt-5 ">
        <div class="col-md-4"><h2 class=""> Listes des dons</h2></div>
        <div class="col-md-8"><a href="" class="ps-5 text-decoration-none">Nbre de dons : {{ gifts | length }} </a>   <a href="{{path('app_reserved_gift')}}" class="ps-5 text-decoration-none">Voir dons Reservés</a>   <a href="" class="ps-5 text-decoration-none">Dons disponibles : {{ gifts | length }}  </a></div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            
            {% if gifts is not empty %}
               

                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                            <th scope="col">Voir</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date de recuperation</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for gift in gifts %}
            
                                    <tr class="table-succes">
                                    <th scope="row"> <a href="{{path('app_show_gift',{id : gift.id})}}"><i class="fa-solid fa-eye"></i></a></th>
                                    <td class="table-light">{{gift.kindOfDonation}}</td>
                                    <td class="table-primary">  {{gift.description}}</td> 
                                    <td class="table-light"> {{gift.recoveryDate | date('d-m-Y')}}</td>
                                    </tr>
                               
                            {% endfor %}
                        </tbody>
                    </table>  
            {% else %}

                <p> L' historique des dons est vide</p>
            {% endif %}
        </div>


{% endblock %}
