{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}


<div class="container bg-light pt-5">
    <h4 class="mt-2"> <a href="{{path('app_benevole_dashboard')}}" ><i class="fa-solid fa-arrow-left"></i></a></h4>
    <h1 class="">Liste des dons Reservés</h1>
    <div class="row mt-5 ">
        <div class="col-md-4"><h4 class="">Don à récupérer</h4></div>
        <div class="col-md-8"><a href="" class="ps-5 text-decoration-none text-dark">Nbre de dons reservés: {{ gifts | length }} </a> </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            
            
            {% if gifts is not empty %}
               

                    <table class="table">
                        <thead class="table-warning">
                            <tr>
                            <th scope="col">Voir</th>
                            <th scope="col">Type</th>
                            <th scope="col">Description</th>
                            <th scope="col">Adresse</th>
                            <th scope="col">Date de recuperation</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for gift in gifts %}
                                    
                                    <tr class="table-succes">
                                    <th scope="row"><a href="{{path('app_show_gift',{id : gift.id})}}"><i class="fa-solid fa-eye"></i></a></th>
                                    <td class="table-light text-muted"><b>{{gift.kindOfDonation}}</b></td>
                                    <td class="table-primary  "> <i><small class="text-muted  "> {{gift.description}}</small></i></td> 
                                    <td class="table-primary"> <i> <small class="text-muted">  {{gift.hotel.address}}</small></i></td> 
                                    <td class="table-primary"> <small class="text-muted  ">{{ gift.recoveryDate|date('Y-m-d')}}</small></td>
                                    </tr>
                                    
                               
                            {% endfor %}
                        </tbody>
                    </table>  
            {% else %}

                <p class="text-center bg-warning pt-2 pb-2"> Vous n'avez pas encore reservé de don</p>
            {% endif %}
        </div>

</div>
</div>
{% endblock %}